@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    font-family: 'Poppins', sans-serif;
    background: #000 !important;
    color: #5E6063 !important;
    font-size: 14px;
}
/* text colors */
.clr-white {color: #F0F0F0 !important;}
.clr-white-100 {color: #AEAEAE !important;}
.clr-green {color: #4CE97D !important;}
.clr-gray {color: #5E6063 !important;}
.clr-dark-gray {color: #1C1E26 !important;}
/* backgrounds colors */
.bgs-dark-gray{background: #1C1E26 !important;}
.bgs-white{background: #F0F0F0 !important;}
.bgs-green{background: #4CE97D !important;}
.bgs-black{background: #000 !important;}
/* borders colors */
.border-green{border-color: #4CE97D !important;}
.border-dark-grey{border-color: #1C1E26 !important;}

.rounded-25{border-radius: 25px !important;}

.tabs{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.tab{
    position: relative;
    display: inline-flex;
    flex-wrap:  wrap;
    align-items: center;
    justify-content: center ;
    text-align:center;
    height: 2rem;
    font-size: 0.875rem;
    line-height: 1.25rem ;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

.tab-bordered{
    border-color: #AEAEAE;
    opacity: 0.4;
    color: #F0F0F0 !important;
    border-style: solid;
    border-bottom-width: 1px;
}
.tab-bordered.active,
.tab-bordered:hover{
    border-color: #F0F0F0;
    opacity: 1;
    color: #F0F0F0 !important;
}

.search-input-1{
    border: 1px solid #1C1E26 !important;
    border-radius: 25px;
}

.search-input-1 input{
    background: none;
    margin-left: 5px;
}

.btn-back {
	background: #121315 !important;
	color: #AEAEAE !important;
}

.btn-back:hover{
    background: #4CE97D !important;
    color: #F0F0F0 !important;
}

.profile-name{
    color: #F0F0F0 !important;
    font-size: 14px;
    background: none;
    border: none;
}

.signout-link:hover{color: #F23637 !important;}
.signout-link:hover svg path {stroke: #F23637 !important;}

a:hover{color: #4CE97D !important;}

.rpn-header-menu-a{
    color: #F0F0F0 !important;
    font-size: 14px;
    background: none;
}

.rpn-header-menu-a:hover{color: #4CE97D !important;}
.rpn-side-bar-menu-link{color: #5E6063 !important;}
.rpn-side-bar-menu-link:hover{color: #4CE97D !important;}
.rpn-side-bar-menu-link svg path {stroke: #5E6063 !important;}
.rpn-side-bar-menu-link:hover svg path {stroke: #4CE970 !important;}
.bg-custom,
.rpn-sidebar{
  background: #121315 !important;
  border: 1px solid #1C1E26 !important;
}

.main-title{
    font-size: 32px;
    font-weight: 400;
    color: #F0F0F0 !important;
}
a .menu-title:hover{
    color: #4CE97D;
    letter-spacing: normal;
}
.list-group-item{
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid #1C1E26;
    background: #121315;
}

.crypto-icon{
    height: 38px;
    width: 38px;
}
/* search box on the top */
.search-form-top input:after{border: none;}

.search-form-top input:focus{
    color: #bdbdbd !important;
    border: none !important;    
}

.search-form-top i{
    position: absolute;
    color: #5E6063;
    font-size: 18px;
}

.search-form-top{
    border: 1px solid #5E6063 !important;
    padding: 10px;
    border-radius: 50px;
    width: 100%;
}

.search-form-top input{
    background: #000 !important;
    border: none !important;
    color: #5E6063;
    width: 90%;
    margin-left: 25px;
}

.wallet-convert{
    font-size: 14px;
    color: #F0F0F0;
    font-weight: 400;
}

.wallet-sum{
    color: #F0F0F0;
    font-weight: 400;
    font-size: 28px;
    line-height: 19px;
}

.wallet-balance{
    color: #5E6063;
    font-size: 16px;
}

/*
#
# Crypto currency style 
#
*/
.crypto-sum,
.crypto-name{
    color: #F0F0F0;
    font-size:14px;
    font-weight: 400;
    line-height: 24px;
}

.crypto-cent{color: #5E6063;}

.crypto-percent-min{color: red; font-size: 13px;}

.crypto-percent-plus{color: #4CE97D; font-size: 13px;}

.crypto-network{
    color: #5E6063;
    font-size: 14px;
    font-weight: 400;
}


/*
#
# Style for Transaction s history left bottom block 
#
*/

.trans-name{
    color: #fff;
    font-size:16px;
    font-weight: 400;
}

.trans-sum{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: right;
}

.trans-min{
    font-size: 14px;
    color: #5E6063;
}

.trans-date{color: #5E6063;font-size: 14px;}

/*
#
# Second menu setting 
#
*/
.wallets-menu{
    margin-bottom: 30px;
    width: 100%;
}

.clear{clear: both;}

.slide-toggle{display: none;}


@media(min-width: 1530px){
 
 .slidemenu label{
  width: 25%;
  display: block;
  float: left;
  color: #5E6063;

}

.slidemenu label:hover{
  cursor: pointer;
  color: #FFFFFF;
}

.slidemenu label span{
  display: block;
  padding: 0px;
  text-align: left !important;   
}

.slider{
  width: 93% !important;
  height: 1px;
  display: block;
  background: #5E6063;
  margin-top: 7px;
}

.slider .bar{
  width: 12% !important;
  height: 1px;
  background: #FFFFFF;
}

.slidemenu .slide-toggle:checked + label{color: #FFFFFF;}
.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 27% !important; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 54% !important; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 80% !important; }
  
}

.slidemenu{
  font-family: "Popins", sans-serif;
  letter-spacing: 1.3px;
  width: 100%;
  margin: 35px auto;
  overflow: auto;
}

.slidemenu label{
  width: 25%;
  display: block;
  float: left;
  color: #5E6063;

}

.slidemenu label:hover{
  cursor: pointer;
  color: #FFFFFF;
}

.slidemenu label span{
  display: block;
  padding: 10px;
  text-align: center;   
}

.slider{
  width: 100%;
  height: 1px;
  display: block;
  background: #5E6063;
  margin-top: 7px;
}

.slider .bar{
  width: 24%;
  height: 1px;
  background: #FFFFFF;
}

.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

.slidemenu .slide-toggle:checked + label{color: #FFFFFF;}
.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }


.usdt-filter-menu label{
  width: 20%;
  display: block;
  float: left;
  color: #5E6063;

}

.usdt-filter-menu label:hover{
  cursor: pointer;
  color: #FFFFFF;
}

.usdt-filter-menu label span{
  display: block;
  text-align: center;   
}

.usdt-filter-menu .slider{
  width: 100%;
  height: 1px;
  display: block;
  background: #5E6063;
  margin-top: 7px;
}

.usdt-filter-menu .slider .bar{
  width: 24%;
  height: 1px;
  background: #FFFFFF;
}

.usdt-filter-menu .slide-toggle:checked + label{color: #FFFFFF;}
.usdt-filter-menu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.usdt-filter-menu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
.usdt-filter-menu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
.usdt-filter-menu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }
/*
#
# Style for last transaction block 
#
*/
.recent-transaction{
    background: #121315;
    border-radius: 20px;
}

.recent-transaction-a{
    font-size: 15;
    color: #4CE97D;
    text-decoration:none;
}

.recent-transaction-a:hover{color: #18873A;}


/*
#
# media request for responsibility 
#
*/


    
@media (min-width: 992px) and (max-width: 1199.98px) {

.wallet-sum{font-size: 26px;}

} /* min width 992 max 1199.98 END*/


/*
#
# max-width 440px START
#
*/
@media(max-width: 440px){

.wallet-sum{font-size: 26px;}

.wallets-menu{
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 0px;
    padding-top: 0px;
}

.crypto-icon{
    width: 38px;
    height: 38px;
}  

.crypto-percent-min,
.crypto-percent-plus, 
.crypto-network{font-size: 14px;}

.balance-bg{
    padding-top: 10px;
    background: #121315;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.slidemenu label{
    margin: 0px;    
    width: 25%;
}

.slidemenu{
    justify-content: center;
    align-items: center;
    margin-top:-40px;
    width: 100%;
    
}

.funding{padding-left: 15px;}

.slidemenu label span{
    padding: 1px;
    text-align: center;       
    font-size: 14px;
    letter-spacing: 1px;
}

.slider .bar{width: 25%;}

.p2p-card{background: #121415 !important;}
.seller-name{
    text-decoration: none;
    line-height: 4px;}
.seller-status{
    font-size:12px;
    color: #5E6063;  
}

.p2p-info-block{padding-top: 3px;}
}
.seller-stats{
    color:#5E6063;
    right: 0px;
}

.seller-time{
    font-size: 12px;
    color: #4CE97D;
}

.seller-rating{
    font-size: 12px;
    color: #AEAEAE;
}

.seller-price{
    color: #5E6063;
    font-size: 14px;
}
.seller-limit{
    font-size: 13px;
    color: #5E6063;
    line-height: 24px;
}

.seller-limit-count{
    font-size: 13px;
    color: #F0F0F0;
    line-height: 24px;
}

.seller-summ{
    color: #F0F0F0;
    font-size: 18px;
    font-weight: 500;
}

.seller-bank{color: #F0F0F0; font-size: 14px;}

.border-color-1e{border-color: #1e1e21;}



.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 120px;
  height: 35px;
  background-color: none;
  border: 1px solid #1e1e21;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  top: 8px;
  right: 20px;
  color: #f0f0f0;
  font-weight: 500;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 60px;
  height: 26px;
  background: #1C1E26;
  border-radius: 15px;
  position: absolute;
  font-size: 12px;
  display: flex;
  justify-content: center;
  left: 3px;
  top: 3px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
  color: #f0f0f0;
  font-weight: 500;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 55px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 120px;
  height: 35px;
  background-color: none;
  border: 1px solid #1e1e21;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}
.p2p-text-block p{
    font-size: 14px;
    color: #AEAEAE;
}

.p2p-text-block p span{
    font-size: 14px;
    color: #5E6063;
    letter-spacing: 0.03rem;
}

.p2p-input-group-amount input:focus{color: #bdbdbd !important;}
.p2p-input-group-amount i{
    position: absolute;
    color: #5E6063;
    font-size: 18px;
}
.p2p-input-group-amount span{
 color: #AEAEAE;
}
.p2p-input-group-amount{
    border: 1px solid #1C1E26;
    padding: 10px;
    border-radius: 50px;
    width: 100%;
}
.p2p-input-group-amount input{
    background: none;
    border: none !important;
    color: #5E6063;
    width: 75%;
    font-size: 14px;
    margin-left: 25px;
}


.p2p-input-group-amount-noicon input:focus{color: #bdbdbd !important;}

.p2p-input-group-amount-noicon span{
 color: #AEAEAE;
}
.p2p-input-group-amount-noicon{
    border: 1px solid #1C1E26;
    padding: 10px;
    border-radius: 50px;
    width: 100%;
}
.p2p-input-group-amount-noicon input{
    background: none;
    border: none !important;
    color: #5E6063;
    width: 82%;
    font-size: 14px;
    margin-left: 10px;
}

.p2p-input-group-payments{
    border: 1px solid #1C1E26;padding: 10px;border-radius: 50px;width: 100%;}
.p2p-payments-select{color: #AEAEAE;border: none;background: none;font-size: 14px;font-weight: 400;}
.p2p-payments-info{color: #5E6063;}
.sell-tabs.active{border-bottom: 2px solid #4CE970 !important;}
.seller-info p{padding: 0 15px 0 0; color: #AEAEAE !important; font-size: 13px}
.seller-verified{color: #F0F0F0 !important;font-size: 15px;}
.p2p-info-card-content p{font-size: 14px;color: #F0F0F0 !important;}
.p2p-info-card-content p.c-gray{color: #5E6063 !important;}
.select-currency-a a:hover{color: #F0F0F0 !important;}
.fbtn:active,
.fbtn:hover{color:#FFFFFF !important;}



/* Work in project 100% */
.p2p-feedback-checkbox {
    display: inline-block;
   	margin: 0 5px 10px 0;
   	user-select: none;
   	position: relative;
}

.p2p-feedback-checkbox input[type=checkbox] {
    z-index: -1;
	   opacity: 0;
	   display: block;
   	width: 0;
	   height: 0;
}

.p2p-feedback-checkbox span {
   	display: inline-block;
	   cursor: pointer;
   	padding: 2px 10px 2px 10px;
   	line-height: 30px;
	   border: none;
	   font-size: 13px;
   	border-radius: 20px;
   	background: #1C1E26;
    transition: background 0.2s ease;
}

.p2p-feedback-checkbox input[type=checkbox]:checked + span {
   	background: none;
   	border: 1px solid #4CE970;
    color: #F0F0F0;
}
 
.p2p-feedback-checkbox:hover {color: #5E6063;}
 
.p2p-feedback-checkbox input[type=checkbox]:active:not(:disabled) + span {
    background: #4CE97D;
	   color: #000;
}
 
.p2p-feedback-checkbox input[type=checkbox]:disabled + span {
    background: #efefef;
	   color: #666;
	   cursor: default;
}

.p2p-feedback-checkbox input[type=checkbox]:checked:disabled + span {background: #4CE97D;}

.feedback-txt-area{
    width: 100%;
    background: none;
    border: 2px solid #1C1E26;
    border-radius: 10px;
    color: #AEAEAE;
    padding: 10px;
    min-height: 100px;
}

.symbol_count{float: right;}

.p2p-feedback-checkbox-1 {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #1C1E26;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.p2p-feedback-checkbox-1:before {
  content: "";
  background-color: none;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 20px;
  height: 20px;
  border: 2px solid #4CE970;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.p2p-feedback-checkbox-1:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.p2p-feedback-checkbox-1-label {
  font-size: 14px;
  color: #AEAEAE;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}



.p2p-btn-n-g,
.p2p-btn-n-w,
.p2p-btn-f-r,
.p2p-btn-f-g {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 35px;
  color: #1C1E26;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  background: #4CE97D;
}

.p2p-btn-f-r{
   background: #F23637 !important;
   color: #F0F0F0 !important; 
}
.p2p-btn-n-w{
    border: 1px solid #AEAEAE !important;
    color: #AEAEAE !important;
    background: none;
}

.p2p-btn-n-g {
    border: 1px solid #4CE970 !important;
    color: #4CE97D !important;
    background: none;
}

.p2p-btn-n-w.active,
.p2p-btn-n-w:hover{
    color: #4CE97D !important;
    border: 1px solid #4CE970 !important;
}

.p2p-btn-n-w.active svg path {stroke: #4CE970 !important;}
.p2p-btn-n-w:hover svg path {stroke: #4CE970 !important;}

button:active{
    transform: scale(0.94);
    letter-spacing: 2px;
    transition-duration: 0.3s;
}
