@media (min-width: 992px) {
.desktop-disable{display: none !important;}
.profile-card-pt{margin-top:-20px !important;}

} /* media */

.profile-card-pt{margin-top:50px;}
.fixed{position: fixed !important;}

.top-bar-title{
    font-size: 15px;
    color: #F0F0F0;
}

.topbar-mobile{
    margin-top: -50px;
    padding-left: 0rem;
    padding-right: 0.5rem;
}

.lh-10 span, 
.lh-10 p{line-height:10px;}
.mc-56{color: #5E6063; font-size:14px}
.mc-ae{color: #AEAEAE; font-size:14px}

.p2p-sell-select-coin{
    border-bottom: 1px solid #1C1E26;
    padding-bottom: 5px;
}

.p2p-sell-select-coin span{
    color: #F0F0F0;
    font-size: 18px
}

.filter-menu,
.custom-select{
    background: none !important;
    border: none;
    color: #F0F0F0;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 120px;
  height: 35px;
  background-color: none;
  border: 1px solid #1e1e21;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 12px;
  top: 8px;
  right: 20px;
  color: #f0f0f0;
  font-weight: 500;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 60px;
  height: 26px;
  background: #1C1E26;
  border-radius: 15px;
  position: absolute;
  font-size: 12px;
  display: flex;
  justify-content: center;
  left: 3px;
  top: 3px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
  color: #f0f0f0;
  font-weight: 500;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 55px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 120px;
  height: 35px;
  background-color: none;
  border: 1px solid #1e1e21;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}


/* 
#
# TOPBAR SELECT CURRENCY 
#
*/

.topbar-select{
    padding-top: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #1e1e21;
}

.filter-menu{
    font-size: 12px;
    color: #AEAEAE;
}
.btn-filters{
    background: none !important;
    border: none;
    color: #AEAEAE;   
    font-size: 12px;
    width:60px;
    text-align: left;
}
.topbar-filter-menu{padding-top: 15px;}
.topbar-filter-menu-content{margin-left: 12px;}


/*
#
# P2P Card style 
#
*/
.p2p-card{
    background: #121315;
    border-radius: 15px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 15px;
}
.p2p-base-card-bg{
    background: #121315;
    border-radius: 15px;
    padding-top: 15px;
    padding-left: 15px;
}
.p2p-card-top{border-bottom: 1px solid #1C1E26;}

.seller-name{
    color: #fff;
    font-size:16px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 5px;
    text-decoration: none;
}
.seller-status{
    font-size:13px;
    color: #5E6063;
    padding-top: 10px;  
}

.p2p-info-block{padding-top: 3px;}

.seller-stats{
    font-size:14px;
    color:#5E6063;
    right: 0px;
}

.seller-time{
    font-size: 12px;
    color: #4CE97D;
}

.seller-rating{
    font-size: 12px;
    color: #AEAEAE;
}

.p2p-ava{
    height: 28px;
    width: 28px;
    border-radius: 50px;
    margin-right: 10px;
}

.seller-price{
    color: #5E6063;
    font-size: 14px;
}
.seller-limit{
    font-size: 13px;
    color: #5E6063;
    line-height: 24px;
}

.seller-limit-count{
    font-size: 13px;
    color: #F0F0F0;
    line-height: 24px;
}

.mrm{padding-right: 35px;}

.seller-summ{
    color: #F0F0F0;
    font-size: 18px;
    font-weight: 500;
}

.seller-bank{color: #F0F0F0; font-size: 14px;}
.seller-bank-logo{margin-top: -5px;}

.btn-buy,
.btn-sell {
  display: flex;
  align-items: center;
  left: 10px;
  width: 85px;
  height: 40px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  background-color: #F23637;
}
.btn-buy{background-color: #4CE97D;}
.btn-buy:hover{background-color: #4CE97D;}
.btn-sell:hover{background-color: #ef4444;}
.btn-buy,
.btn-sell:active{transform: scale(0.96);}

.btntxt {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F0F0F0;
}


.p2p-text-block p{
    font-size: 14px;
    color: #AEAEAE;
    line-height: 10px;
}

.p2p-text-block p span{
    font-size: 14px;
    color: #5E6063;
    letter-spacing: 0.06rem;
}


.seller-info p{padding: 0 15px 0 0; color: #AEAEAE; font-size: 13px}
.seller-verified{
    color: #F0F0F0;
    font-size: 15px;
}
.view-p{color: #4CE97D;}
.p2p-alert-card{
    background: #121315;
    border-radius: 15px;
    padding-top: 20px;
    padding-left: 15px;
}
.p2p-profile-card{
    background: #121315;
    border-radius: 15px;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 15px;
}
.p2p-base-card{padding-left: 5px;}
.p2p-info-card-content {display: flex;}
.p2p-info-card-content p{
    font-size: 14px;
    color: #F0F0F0;
    line-height: 10px;
}
.p2p-info-card-content p.c-gray{color: #5E6063;}

/* 
#
# FEEDBACK SECTIONS SYYLE
#
*/
.p2p-main-title{
    color: #F0F0F0;
    font-size: 18px;
    font-weight: 400;
    padding-left: 5px;
}
.p2p-title-amout{
    color: #F0F0F0;
    font-size: 14px;
    font-weight: 400;
    padding-left: 10px;
}

.p2p-remark-block,
.p2p-text-block{padding-left: 5px;}
.p2p-feedback-header{padding-left: 10px;}
.p2p-feedback{
    padding-left: 10px;
    border-bottom: 2px solid #1C1E26;
}

.p2p-feedback-user{
    font-size: 16px;
    color: #F0F0F0;
}
.p2p-feedback-info{
    font-size: 13px;
    color: #5E6063;
}
.p2p-feedback-txt{
    font-size: 14px;
    color: #AEAEAE;
}

.p2p-payments-tab{
    padding-right: 55px;
    padding-left: 55px;
    border-bottom: 2px solid #1C1E26;
}

.p2p-payments-tab a{
    text-decoration: none;
    font-size: 14px;
    color: #F0F0F0;
    padding-bottom: 15px;
    padding-top: 10px;
}

.p2p-payments-tab.active{border-bottom: 2px solid #4CE970;}

.p2p-payments-card{
    background: #121315;
    border-radius: 15px;
    padding: 15px;
}

.p2p-input-group-amount input:focus{color: #bdbdbd !important;}
.p2p-input-group-amount i{
    position: absolute;
    color: #5E6063;
    font-size: 18px;
}
.p2p-input-group-amount span{
 color: #AEAEAE;
}
.p2p-input-group-amount{
    border: 1px solid #1C1E26;
    padding: 10px;
    border-radius: 50px;
    width: 100%;
}
.p2p-input-group-amount input{
    background: none;
    border: none !important;
    color: #5E6063;
    width: 75%;
    font-size: 14px;
    margin-left: 25px;
}


.p2p-input-group-amount-noicon input:focus{color: #bdbdbd !important;}

.p2p-input-group-amount-noicon span{
 color: #AEAEAE;
}
.p2p-input-group-amount-noicon{
    border: 1px solid #1C1E26;
    padding: 10px;
    border-radius: 50px;
    width: 100%;
}
.p2p-input-group-amount-noicon input{
    background: none;
    border: none !important;
    color: #5E6063;
    width: 82%;
    font-size: 14px;
    margin-left: 10px;
}

.p2p-input-group-payments{
    border: 1px solid #1C1E26;
    padding: 10px;
    border-radius: 50px;
    width: 100%;
}

.p2p-payments-select{
    color: #AEAEAE;
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 400;
}
.p2p-payments-info{
   color: #5E6063;
   padding-left: 5px;
   padding-right: 5px;
}
.p2p-payments-info p{
    line-height: 6px;
}

.p2p-btn-payments {
  display: flex;
  align-items: center;
  left: 10px;
  width: 95%;
  height: 45px;
  border: none;
  border-radius: 23px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  background-color: #F23637;
}

.p2p-btn-payments:hover{background-color: #ef4444;}
.p2p-btn-payments:active{transform: scale(0.96);}

.p2p-btn-payments-txt {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F0F0F0;
}

.remark-a,
.remark-a:hover{
    color: #5E6063;
    font-size: 14px;
    text-decoration: none;
}
.p2p-amount-title-f,
.p2p-amount-title{
    font-size: 22px;
    color: #F0F0F0;
    width:80%;
    line-height: 28px;
}
.p2p-amount-title-f{width: 100%;}

.p2p-btn-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size:13px;
  border: none;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  background-color: #4CE970;
}

.p2p-amount-a{color: #F0F0F0;}
.p2p-amount-a:hover{color: #4CE97D;}
.p2p-amount-a:hover svg path {stroke: #4CE970;}

.p2p-amount-sub-t{
    font-size: 14px;
    color: #5E6063;
}
.p2p-amount-sub{
    font-size: 14px;
    color: #F0F0F0;
    line-height: 10px;
}
.p2p-amount-chat-title{
    font-size: 20px;
    color: #F0F0F0;
    width:70%;
    line-height: 28px;
}

.p2p-btn-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: #1C1E26;
  font-size: 14px;
  padding: 10px;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  background: #FAE31B;
}

.text-in-card{
    font-size: 13px;
    color: #5E6063;
}
/*
#
# P2P CHAT STYLE
#
*/
.alert .icon {
    text-align: center;
    width: 58px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
.alert .icon svg {
    font-size: 20px;
    color: #fff;
    left: 11px;
    margin-top: -15px;
    position: absolute;
    top: 50%;
  }
  
.alert .ttt{
    margin-left: 35px;
    font-size: 13px;
    color: #5E6063;
}

.btnclose{
    color: #888;
    opacity: 1;
    float: none;
    position: absolute;
    right: 10px;
    top: 20px;
    margin-top: -12px;
    font-size: 18px;
}

.p2p-chat-avatar{
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.p2p-chat-msg{
    background: #121315;
    border-radius: 15px;
    border: 1px solid #1C1E26;
}
.p2p-chat-msg-ans{
    background: #1C1E26;
    border-radius: 15px;
}
.p2p-chat-msg-ans p{font-size: 14px; color: #AEAEAE;}
.p2p-chat-msg p{
    color: #5E6063;
    font-size: 14px;
}
.p2p-chat-msg-time{
    color: #5E6063;
    font-size: 12px;
}

.p2p-chat-input input:focus{
    color: #bdbdbd !important;
    font-size: 14px;
}

.p2p-chat-input span{color: #AEAEAE;}
.p2p-chat-input{
    border: 1px solid #1C1E26;
    padding: 5px;
    padding:10px;
    border-radius: 50px;
    width: 100%;
}
.p2p-chat-input input{
    background: none;
    border: none !important;
    color: #5E6063;
    width: 88%;
    font-size: 14px;
    margin-left: 5px;
}

.p2p-chat-btn{
    border: none;
    background: none;
    padding: 12px 10px 0 0;
    
}

/* 
#
# P2P AUTHENTICATION STYLES
#
*/
.p2p-verify-input input:focus{color: #bdbdbd !important;}

.p2p-verify-input a{
    color: #4CE970;
    font-size: 14px;
    text-decoration: none;
}
.p2p-verify-input{
    border: 1px solid #1C1E26;
    padding: 10px;
    border-radius: 50px;
    width: 100%;
}
.p2p-verify-input input{
    background: none;
    border: none !important;
    color: #5E6063;
    width: 75%;
    font-size: 14px;
    margin-left: 5px;
}

.p2p-auth-label-sub-title{
    color: #757575;
    font-size: 13px;
    padding-top: 10px;
}
.p2p-auth-label-title{
    color: #F0F0F0;
    font-size: 15px;
    padding-bottom: 10px;
}

.p2p-auth-notice{
    font-size: 15px;
    color: #F0F0F0;
    text-dhecoration: none;
    padding-left: 6px;
}


/*
#
# P2P BUTTONS STYLES
#
*/

.btn-back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  background-color: #1e1e21;
  border: 1px solid #1C1E26;
}

.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign i {
  font-size: 20px;
  color: #F0F0F0;
}
.sign i:hover{color: #FFFFFF}
.btn-back:hover {
  border-radius: 18px;
  background-color: #4CE97D;
  transition-duration: .3s;
}

.btn-swap{
    background: none !important;
    border: none;
    color: #F0F0F0;
    border: 1px solid #1e1e21;
    border-radius: 25px;
    font-size: 12px;
    height: 35px;
    width: 70px;
    text-align: center;
    padding-top: 2px;
}

.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.p2p-btn-n-g,
.p2p-btn-n-w,
.p2p-btn-f-r,
.p2p-btn-f-g {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 35px;
  color: #1C1E26;
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  background: #4CE97D;
}

.p2p-btn-f-r{
   background: #F23637;
   color: #FFFFFF; 
}
.p2p-btn-n-w{
    border: 1px solid #AEAEAE;
    color: #AEAEAE;
    background: none;
}

.p2p-btn-n-g {
    border: 1px solid #4CE970;
    color: #4CE97D;
    background: none;
}

.p2p-btn-n-w.active,
.p2p-btn-n-w:hover{
    color: #4CE97D;
    border: 1px solid #4CE970;
}

.p2p-btn-n-w.active svg path {stroke: #4CE970 !important;}
.p2p-btn-n-w:hover svg path {stroke: #4CE970 !important;}

button:active{
    transform: scale(0.94);
    letter-spacing: 2px;
    transition-duration: 0.3s;
}



/*
#
# P2P SUCCESSFULLY AND FEEDBACK PAGE
#
*/
.p2p-success-btn-group{padding-bottom: 40px;}

.default-text{
    color: #AEAEAE;
    font-size: 14px;
}

.p2p-modal-txt{
    color: #5E6063;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
}

.p2p-modal-summ{
    color: #F0F0F0;
    font-size: 32px;
    font-weight: 400;
    line-height: 25px;
}

.p2p-feedback-checkbox {
    display: inline-block;
   	margin: 0 5px 10px 0;
   	user-select: none;
   	position: relative;
}

.p2p-feedback-checkbox input[type=checkbox] {
    z-index: -1;
	   opacity: 0;
	   display: block;
   	width: 0;
	   height: 0;
}

.p2p-feedback-checkbox span {
   	display: inline-block;
	   cursor: pointer;
   	padding: 2px 10px 2px 10px;
   	line-height: 30px;
	   border: none;
	   font-size: 13px;
   	border-radius: 20px;
   	background: #1C1E26;
    transition: background 0.2s ease;
}
 
.p2p-feedback-checkbox input[type=checkbox]:checked + span {
   	background: none;
   	border: 1px solid #4CE970;
    color: #F0F0F0;
}
 
.p2p-feedback-checkbox:hover {color: #5E6063;}
 
.p2p-feedback-checkbox input[type=checkbox]:active:not(:disabled) + span {
    background: #4CE97D;
	   color: #000;
}
 
.p2p-feedback-checkbox input[type=checkbox]:disabled + span {
    background: #efefef;
	   color: #666;
	   cursor: default;
}

.p2p-feedback-checkbox input[type=checkbox]:checked:disabled + span {background: #4CE97D;}



textarea{
    width: 100%;
    background: none;
    border: 2px solid #1C1E26;
    border-radius: 10px;
    color: #AEAEAE;
    padding: 10px;
    min-height: 100px;
}

.symbol_count{float: right;}

.p2p-feedback-checkbox-1 {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #1C1E26;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.p2p-feedback-checkbox-1:before {
  content: "";
  background-color: none;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 20px;
  height: 20px;
  border: 2px solid #4CE970;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.p2p-feedback-checkbox-1:checked:before {
  transform: translate(-50%, -50%) scale(1);
}

.p2p-feedback-checkbox-1-label {
  font-size: 14px;
  color: #AEAEAE;
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
}

.feedback-card{
    color: #5E6063;
    font-size: 14px;
}


.input-label{
    color: #F0F0F0;
    font-size: 14px;
    padding-bottom: 5px;
}

.p2p-filter-select{
    border: 1px solid #1C1E26;
    padding: 5px;
    border-radius: 20px;
}
.custom-select-2{
    border:none ;
    background: none !important;
    color: #F0F0F0;
    font-size: 13px;
}

