.top-bar-title{
    font-size: 15px;
    color: #F0F0F0;
}

.topbar-mobile{
    margin-top: -50px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.btn-back {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  background-color: #1e1e21;
  border: 1px solid #1C1E26;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign i {
  font-size: 20px;
  color: #F0F0F0;
}
.sign i:hover{color: #FFFFFF}
.btn-back:hover {
  border-radius: 18px;
  background-color: #4CE97D;
  transition-duration: .3s;
}

.btn-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 120px;
  height: 35px;
  background-color: none;
  border: 1px solid #1e1e21;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:before {
  content: attr(data-on);
  position: absolute;
  font-size: 10px;
  top: 9px;
  right: 20px;
  color: #f0f0f0;
  font-weight: 500;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner:after {
  content: attr(data-off);
  width: 60px;
  height: 26px;
  background: #1C1E26;
  border-radius: 15px;
  position: absolute;
  font-size: 10px;
  display: flex;
  justify-content: center;
  left: 3px;
  top: 3px;
  text-align: center;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 6px -2px #111;
  padding: 5px 0px;
  color: #f0f0f0;
  font-weight: 500;
}

.btn-color-mode-switch input[type="checkbox"] {
  cursor: pointer;
  width: 50px;
  height: 25px;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 1;
  margin: 0px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:after {
  content: attr(data-on);
  left: 55px;
}

.btn-color-mode-switch input[type="checkbox"]:checked + label.btn-color-mode-switch-inner:before {
  content: attr(data-off);
  right: auto;
  left: 20px;
}

.btn-color-mode-switch {
  display: inline-block;
  margin: 0px;
  position: relative;
}

.btn-color-mode-switch > label.btn-color-mode-switch-inner {
  margin: 0px;
  width: 120px;
  height: 35px;
  background-color: none;
  border: 1px solid #1e1e21;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease;
  display: block;
}