@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url("anim.css");
@import url("boostrap.css");
@import url("custom.css");

*{
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #000;
    color: #5E6063;
    font-size: 14px;
}

a {
    text-decoration: none;
    color: ingerit;
}
a:hover,
a:active{color: #4CE97D;}

h1, 
h2, 
h3, 
h4, 
h5, 
h6{color: #F0F0F0;}

.icon-24{
    width: 24px;
    height: 24px;
    margin-right: 2px;
    margin-top: -5px;
}

/* Navbar */
.navbar {
  font-family: "Popins", sans-serif;
  background: #000;
  transition: background 0.25s ease;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -ms-transition: background 0.25s ease; 
}

.navbar .navbar-brand {width: 110px;}

.navbar .navbar-brand-wrapper {
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    background: #000;
    width: 260px;
    height: 70px;
}
        
.navbar .navbar-brand-wrapper .navbar-brand {
    margin-right: 0;
    padding: .25rem 0;
    width: 100%;
}

.navbar .navbar-brand-wrapper .navbar-brand img {
    width: calc(260px - 120px);
    max-width: 100%;
    height: 60px;
    margin: auto;
    vertical-align: middle;
}

.navbar .navbar-menu-wrapper {
    transition: width 0.25s ease;
    -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -ms-transition: width 0.25s ease;
    color: #5E6063;
    padding-left: 24px;
    padding-right: 24px;
    width: calc(100% - 260px);
    height: 70px;
}
          
.navbar .navbar-menu-wrapper .search-field .input-group input {
    border: 1px solid #121315;
    font-size: 0.875rem;
    padding: .5rem;
    color: #fff;
}

.navbar .navbar-menu-wrapper .search-field .input-group i {
    font-size: 17px;
    margin-right: 0;
    color:#121315;
}

.navbar .navbar-menu-wrapper .search-field .input-group .input-group-text {
    background: transparent;
    color: #121315;
}

.navbar .navbar-menu-wrapper .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; 
}
      
.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link {
    color: #5E6063;
    font-size: 0.875rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

a .menu-title:hover{
    color: #4CE97D;
    letter-spacing: normal;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link i {font-size: 1.25rem; color: #5E6063;}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-toggle:after {
    color: #4CE97D;
    font-size: 1rem;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu {
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown {
    position: absolute;
    font-size: 0.9rem;
    margin-top: 0;
    padding: 0;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item {
    margin-bottom: 0;
    padding: 11px 13px;
    cursor: pointer;
}
            
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item i {font-size: 17px;}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item .ellipsis {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}
          
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-divider {margin: 0;}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img {position: relative;}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-profile .nav-link .nav-profile-img img {    
    width: 32px;
    height: 32px;
    border-radius: 100%;
}
        
.user-status-off,
.user-status-busy,
.user-status-on {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #4CE97D;
    border-radius: 100%;
    bottom: 2px;
    right: -5px;
}
          
.user-status-off {background: #5E6063;}
.user-status-busy {background:#fed713;}

@media (max-width: 991px) {
  .navbar {display: none !important;}
}

/* Sidebar */
.sidebar {
  min-height: calc(100vh - 70px);
  background: #121315;
  font-family: "Popins", sans-serif;
  padding: 0;
  width: 260px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease;
  -webkit-transition: width 0.25s ease, background 0.25s ease;
  -moz-transition: width 0.25s ease, background 0.25s ease;
  -ms-transition: width 0.25s ease, background 0.25s ease; }
  
.sidebar .nav {
    overflow: hidden;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 60px;
}

.sidebar .nav .nav-item {padding: 0 2rem;}
.sidebar .nav .nav-item .collapse {z-index: 999;}
       
.sidebar .nav .nav-item .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    white-space: nowrap;
    padding: 1.125rem 0 1.125rem 0;
    color: #5E6063;
}
a.active span{color: #4CE97D;}

.sidebar .nav .nav-item .active svg path {stroke: #4CE970 !important;}

.sidebar .nav .nav-item svg path {stroke: #5E6063;}
.sidebar .nav .nav-item:hover svg path {stroke: #4CE970;}

.sidebar .nav .nav-item .nav-link i.menu-icon {
    font-size: 1.125rem;
    line-height: 1;
    margin-left: auto;
    color: #5E6063;
}
            
.sidebar .nav .nav-item .nav-link i.menu-icon:before {vertical-align: middle;}
.sidebar .nav .nav-item .nav-link i.menu-arrow {
    font: normal normal normal 24px/1 "Material Design Icons";
    line-height: 1;
    font-size: 1.125rem;
    margin-left: auto;
    color: #5E6063;
}
            
.sidebar .nav .nav-item .nav-link i.menu-arrow:before {
    content: "\f141";
    font-size: inherit;
    color: inherit;
}

.sidebar .nav .nav-item .nav-link i.menu-arrow + .menu-icon {margin-left: .25rem;}

.sidebar .nav .nav-item .nav-link[aria-expanded="true"] .menu-arrow:before {content: "\f140";}
      
.sidebar .nav .nav-item.active{color: red;}

.sidebar .nav .nav-item .nav-link:hover {
    background: #none;
    color: #4CE97D !important;
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-category):not(.nav-profile) > .nav-link {color: #4CE970;}

.sidebar .nav.sub-menu {
    margin-bottom: 20px;
    margin-top: 0;
    list-style: none;
}

.sidebar .nav.sub-menu .nav-item {padding: 0;}

.sidebar .nav.sub-menu .nav-item .nav-link {
    color: #888;
    padding: 0.75rem 2rem 0.75rem 2rem;
    position: relative;
    font-size: 0.8125rem;
    line-height: 1;
    height: auto;
    border-top: 0;
 }

.sidebar .nav.sub-menu .nav-item .nav-link:before {
    content: "\F054";
    font-family: "Material Design Icons";
    display: block;
    position: absolute;
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #a2a2a2;
    font-size: .75rem;
}

.sidebar .nav.sub-menu .nav-item .nav-link .active {color: #4CE97D;}

/* style for off-canvas menu*/
@media screen and (max-width: 991px) {
.sidebar-offcanvas {
    position: fixed;
    max-height: calc(100vh - 70px);
    top: 70px;
    bottom: 0;
    overflow: auto;
    right: -260px;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
}

/* Layouts */
.navbar.fixed-top + .page-body-wrapper {padding-top: 70px;}

.page-body-wrapper {
    min-height: calc(100vh - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
}

.page-body-wrapper .full-page-wrapper {
    width: 100%;
    min-height: 100vh;
}

.main-panel {
    -webkit-transition: width 0.25s ease, margin 0.25s ease;
    transition: width 0.25s ease, margin 0.25s ease;
    width: calc(100% - 260px);
    min-height: calc(100vh - 70px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 991px) {
.main-panel {
    margin-left: 0;
    width: 100%;
}
}

.content-wrapper {
    background: #000;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 4.5rem;  
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}


.fs-24{font-size: 24px !important;}

.list-group-item{
    margin-top: 10px;
    border-radius: 20px;
    border: 1px solid #1C1E26;
    background: #121315;
}

.crypto-icon{
    height: 38px;
    width: 38px;
}

.bg-darket{
    background: #121315 !important;
    background-color:#121315 ! important;
}

.menu-main {
  list-style: none;
  text-align: right;
  padding-top: 25px;
}

.menu-main li {
    display: inline-block;
    vertical-align:top;
    padding: 0 0 0 30px;
}

.menu-main a {
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  font-size: 15px;
  display: inline-block;
  transition: color .2s;
  color: #FFFFFF !important;
}

.menu-main a, .menu-main a:visited {color: #5E6063;}

.menu-main a.current, .menu-main a:hover{color: #4CE970 !important;}

.menu-main a:hover:before, .menu-main .current:before {left: 0;}

.menu-main a:hover:after, .menu-main .current:after {right: 0;}

/* search box on the top */
.search-form-top input:focus{color: #bdbdbd !important;}

.search-form-top i{
    position: absolute;
    color: #5E6063;
    font-size: 18px;
}

.search-form-top{
    border: 1px solid #5E6063 !important;
    padding: 10px;
    border-radius: 50px;
    width: 100%;
}

.search-form-top input{
    background: #000 !important;
    border: none !important;
    color: #5E6063;
    width: 90%;
    margin-left: 25px;
}

.wallet-convert{
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}

.wallet-sum{
    color: #fff;
    font-weight: 400;
    font-size: 28px;
    line-height: 19px;
}

/*
#
# Crypto currency style 
#
*/
.crypto-sum,
.crypto-name{
    color: #fff;
    font-size:17px;
    font-weight: 400;
}

.crypto-sum{text-align: right;}

.crypto-cent{color: #5E6063;}

.crypto-percent-min{color: red; font-size: 13px;}

.crypto-percent-plus{color: #4CE97D; font-size: 13px;}

.crypto-network{
    color: #5E6063;
    font-size: 14px;
    font-weight: 400;
}


/*
#
# Style for Transaction s history left bottom block 
#
*/

.search-form-transactions input:focus{color: #bdbdbd !important;}

.search-form-transactions i{
    position: absolute;
    color: #5E6063;
    font-size: 18px;
}

.search-form-transactions{
    border: 1px solid #5E6063 !important;
    padding: 10px;
    border-radius: 50px;
    width: 100%;
}

.search-form-transactions input{
    background: #000 !important;
    border: none !important;
    color: #5E6063;
    width: 100%;
    margin-left: 25px;
}

.second-title{
    font-family: "Popins", sans-serif;
    font-size: 16px;
    color: #5E6063;
    padding-bottom: 15px;
}  
 
.trans-name{
    color: #fff;
    font-size:16px;
    font-weight: 400;
}

.trans-sum{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: right;
}

.trans-min{
    font-size: 14px;
    color: #5E6063;
}

.trans-date{color: #5E6063;font-size: 14px;}

.transaction-body{
   border-bottom: 2px solid #121315;
   padding: 12px 4px 0px 4px;   
}

.transaction-body:hover{background: rgba(255,255,255,0.08);}



/*
#
# Second menu setting 
#
*/
.wallets-menu{
    margin-bottom: 30px;
    width: 100%;
}

.clear{clear: both;}

.slide-toggle{display: none;}

.slidemenu{
  font-family: "Popins", sans-serif;
  letter-spacing: 1.3px;
  width: 100%;
  margin: 35px auto;
  overflow: auto;
}

.slidemenu label{
  width: 25%;
  display: block;
  float: left;
  color: #5E6063;

}

.slidemenu label:hover{
  cursor: pointer;
  color: #FFFFFF;
}

.slidemenu label span{
  display: block;
  padding: 10px;
  text-align: center;   
}

.slider{
  width: 100%;
  height: 2px;
  display: block;
  background: #5E6063;
  margin-top: 7px;
}

.slider .bar{
  width: 24%;
  height: 2px;
  background: #FFFFFF;
}

.slidemenu label, .slider .bar {
  transition: all 500ms ease-in-out;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
}

.slidemenu .slide-toggle:checked + label{color: #FFFFFF;}
.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 25%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 50%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 75%; }

.underline-grey{border-bottom: 1px solid rgba(255,255,255,0.05);}

/*
#
# Style for last transaction block 
#
*/

.recent-transaction-body{
   border-bottom: 2px solid rgba(255,255,255,0.05);
   padding: 12px 4px 0px 4px;   
}
.recent-transaction-body:hover{
    background: rgba(255,255,255,0.05); 
    border-bottom: none;
}

.recent-transaction{
    background: #121315;
    border-radius: 20px;
    padding: 0 20px 0 20px;
}

.recent-transaction-a{
    font-size: 15;
    color: #4CE97D;
    text-decoration:none;
}

.recent-transaction-a:hover{color: #18873A;}

.recent-transaction-title{
    font-size: 15px;
    color: #FFFFFF;
}

.button-icon span{
    color: #FFFFFF;
    margin-top: 7px;    
}

.button-icon-a{
    color: #FFFFFF;
    text-decoration: none;
}

.button-icon-a:hover{color: #4CE97D;}


/*
#
# Wallets cards design
#
*/

.wallet-card{
    padding: 15px 15px 5px 15px;
    margin-right: 5px;
    background: #121315;
    min-width: 10px;    
    border-radius: 15px;
}
 
.wallet-card-name{
    color: #fff;
    font-size:16px;
    font-weight: 400;
    margin-top: 5px;
}

.wallet-card-amout{
    color: #5E6063;
    font-size:15px;
    font-weight: 400;    
}

.wallets-title{padding-bottom: 20px;}


/* ------------- Pop UP windows box START ----------- */

.modal {
    align-items: center;
    display: flex;
    justify-content: center; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(black, .4);
    backdrop-filter: blur(5px);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.modal-content{
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 450px;
    padding: 30px 20px;
    border-radius: 15px;
    background-color: #121315;
    border: none;
} 

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal-box-title {
  font-size: 32px;
  font-weight: 400;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.modal-box-summ {
  font-size: 32px;
  font-weight: 400;
  color: #FFFFFF;
} 

.modal-box-txt{
    margin-top: 20px;
    font-size: 16px;
    color: #5E6063;
}

.buttons {margin-top: 30px;}

.close-modal-x {
    position: absolute;
    top: 40px;
    right: 30px;
    text-decoration: none;
    font-size: 14px;
}

.close-modal-button {
  font-size: 15px;
  font-weight: 500;
  padding: 16px 92px;
  margin: 0 10px;
  color: #FFFFFF;
  background: #4CE97D;
  border: none;
  border-radius: 20px;
  text-decoration: none;  
  width: 100%;  
}

.close-modal-button:hover{
    color: #FFFFFF;
    background: #18873A;
    text-decoration: none;
}


/* ------------- Pop UP windows box END ----------- */

.filter-button{
    color:#c2c2c2;
    font-size: 22px;
    margin-top: -5px;
    margin-right: 10px;
}

.menu-left ul li{
    left: 10px;
    padding: 0 30px 0 12px;    
}

.menu-left ul{
    padding: 24px 6 0 50px;
    margin: 0px; 
}

/*
#
# media request for responsibility 
#
*/


    
@media (min-width: 992px) and (max-width: 1199.98px) {

.navbar-brand-wrapper,
.sidebar {width: 200px !important;}
 
.top-bar-mobile,
.desktop-disable,
.content-separate-mobile{display: none !important;}

 /* menu on the top START */
.menu-main{text-align: center;}

.menu-left ul{
    padding: 23px 0 0 0;
    margin: 0px;    
}

.menu-left ul li{padding: 0 20px 0 0;}

.navbar-menu-wrapper{padding: 0px !important;}
/* menu pn the top END */  

.wallet-sum{font-size: 26px;}

.search-form-transactions{width: 99%;}

.search-form-transactions input{width: 300px;}

.search-form-transactions i{position: absolute;}

.profile-card-pt{padding-top:-50px;}

} /* min width 992 max 1199.98 END*/


/*
#
# max-width 440px START
#
*/
@media(max-width: 440px){

.content-wrapper{
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    padding-top: 0px;
    margin-top: 0px;
}

.mobile-top-header{
    margin-top: -2.5rem;
    padding-left: 0.3rem;
    padding-right: 0.8rem;
}

.wallet-sum{font-size: 26px;}

.wallets-menu{
    margin-bottom: 30px;
    margin-left: 20px;
    margin-top: 0px;
    padding-top: 0px;
}

.second-title{
    font-family: "Popins", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    padding-bottom: 15px;
}

.crypto-icon{
    width: 38px;
    height: 38px;
}  

.crypto-sum,
.crypto-name{
    font-size: 16px;
    font-weight: 400;
}

.crypto-percent-min,
.crypto-percent-plus, 
.crypto-network{font-size: 14px;}

.search-form-transactions input{
    margin-left: 25px;
    width: 280px;
}

.mobilept{padding-top: 80px;}

.balance-bg{
    padding-top: 10px;
    background: #121315;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.balance-bg-01{    
    background: #121315;
    border-radius: 15px;
}

.total-balance-2{padding: 0.2rem;}

.slidemenu label{
    margin: 0px;    
    width: 25%;
}

.slidemenu{
    justify-content: center !important;
    align-items: center !important;
    margin-left: -20px;
    width: 100%;
    margin-top: -50px;
}

.funding{padding-left: 15px;}

.slidemenu label span{
    padding: 1px;
    text-align: center;       
    font-size: 14px;
    letter-spacing: 1px;
}

.slider .bar{width: 25%;}

.main-title{
    padding-top: 40px;
    margin-left: -20px;
}

.button-icon-a{font-size: 14px;}

.border-01{
    border-left: 1px solid rgba(255,255,255, 0.05);
    border-right: 1px solid rgba(255,255,255, 0.05);
}

.button-icon{
    padding-top: 15px;
    padding-bottom: 10px;
}

.mobile-title{
    font-family: "Popins", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

.filter-button{color: #FFFFFF;}

/* ------------- Pop UP windows box START ----------- */

.modal {
    align-items: center;
    display: flex;
    justify-content: center; 
    position: absolute;
    bottom: 0px;    
    background-color: rgba(black, .4);
    backdrop-filter: blur(5px);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}

.modal-content{
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;    
    padding: 30px 20px;
    border-radius: 15px;
    background-color: #121315;
    border: none;
    bottom: 0px;
} 

.close-modal-x span{    
    width: 32px;
    height: 32px;
    background: #1C1E26;
    border-radius: 50%;
    color: #F0F0F0;
    padding: 10px 15px 10px 15px;
}
.close-modal-x span:hover{
    background: #4CE97D;
    color: #121315;
    transform: scale(0.94);
    transition-duration: 0.3s;
}


}

/*# sourceMappingURL=style.css.map */
